/*Import Noto Sans JP*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

/*Import Playfair Display*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root{
    /*Color*/
    --back-color : #e7e7de;
    --header-color : #0f3057;
    --header-color-hover: #394758;
    --nav-color : #008891;
    --nav-color-hover : #78b2b6;
    --python-color: #00587a; 
    --bottom-go-top: #024959;
    --html-color: #f48b29;
    --java-color: #ac0d0d;
    --css-color: #008891;

    /*Fonts*/
    --font-common: 'Noto Sans JP', sans-serif; /*Normal font*/
    --font-input: 'Playfair Display', serif;

    
    /*TODO: FONT ACCESIBLE*/
    --size-commom-desktop: 14pt;
    --size-common-mobile: 12pt;



    /*Lins transitions*/
    /*menu*/
    --mouse-is-over-menu: linear 0.2s;
    --mouse-is-hover-menu:color  0.2s linear 0.2s;
    --mobile-menu: all .5s ease-in-out;
    --input-transition: all .5s ease; 
    --projects-icons-trnasition: all .3s ease;
    /*1 TIME TRANSITION 2 DELEAY*/

    

    /*normal elements*/
    --mouse-is-over-normal: linear 0.1s;
    --mouse-is-hover-mormal:color  0.1s linear 0.1s;
    --transition-common: all 1s ease-in-out;
}

html{
    
    font-size: var(--size-commom-mobile);
    background-color: var(--back-color);
    font-family: var(--font-common);
    color: black;
    transition: var(--transition-common);
    
}

body{
    margin:0;
    text-align: center;
    min-width: 350px;
    align-content: center;
    width: 100%;
    position: relative;
    
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: inherit;
    
}

h1, h2{
    font-weight: bolder;
}

/******************** Menu *****************/
header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    align-items: baseline;
    background-color: var(--header-color);
    color: white;
}

header>div:first{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}

header>div>h1{
    font-size: xx-large;
    display: block;
}

/*header img*/
header>div>img{
    width: 50px;
    display: block;
}

/**cliclabels nav*/
nav>ul>li>a{
    cursor:pointer;
}

/************************ MENU ******************/

/*Desk menu hidden*/
.nav-menu{
    display: none;
}

#menu-mobile{
    background-color: var(--nav-color);
    padding-top: .5em;
    padding-bottom: .5em;
    width: 100%;
    display: none;
    transition: all 1s ease-in-out;
}


ul>li>a{
    display: inline-block;
    color:white;
    text-decoration: none;
    font-weight: bolder;
    width:100%;
    padding-left: .7em;
    box-sizing: border-box; 
}

ul>li>a:hover{
    background-color: var(--nav-color-hover);
    width: 100%;
    transition: var(--mobile-menu);
    color: black;
}

/******************* Buttons to show menu **********/
.buttons a{
    color: white;
    font-size: x-large;
}

/*************************** main ***********************/
main{
    width: 90%;
    margin: 0 auto;
}

.intro-about{
    border-bottom: 1pt solid var(--header-color-hover);
}



.me{
    width: 200px;
}

/************************ proyects *********************/
.my-projects{
    margin-bottom: 2em;

}

.projects{
    width: 100%;
    padding-bottom: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
    border-bottom: 1pt solid var(--header-color-hover);
}
.projects>div{
    width: 100%;
    margin-bottom: 2em;
}


.projects div>picture>img{
    width: 150px;
    height: 90px;
    border: 1pt solid var(--header-color-hover);
}



.projects a{
    text-decoration: none;
}

.projects .tecnologies a:hover{
    
    padding: .5em;
    transition: var(--projects-icons-trnasition);
}

/*Github logo*/
.projects a:last-of-type{
    color: black;
}

/*Footer notes*/
.footer-notes{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;

}

.footer-notes div{
    margin-left: .5em;
    margin-right: .5em;
}



.footer-notes a{
    color: black;
}
/*********************** FOOTER ***********************/
footer {
    background-color: var(--header-color);
    color: white;
    overflow: hidden;
    padding-top: .5em;
    
}

footer a{
    text-decoration: none;
    color: var(--java-color);
    font-weight: bolder;
    margin-left: .5em;
    margin-right: .5em;
}

.footer-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;  
    justify-content: space-between;
    flex-wrap: wrap;
}

/****** CONTACT FORM *******/
form {
    border-bottom: 1pt solid var(--header-color-hover);
    margin-bottom: 2em;
}
fieldset{
    border: none;
    margin: 0 auto;
}

input {
    width: 90%;
    margin-bottom: 1em;
    font-family: var(--font-input);
    
}
textarea{
    width: 90.6%;
    height: 100px;
    font-family: var(--font-input);
}
textarea:focus, textarea:hover{
    background-color: var(--nav-color-hover);
    transition: var(--input-transition);
    color: black
}
input:last-child{
    background-color: #00587a;
    color: white;
    padding: .5em;
    width: 90px;
    margin-top: 1.5em;
    border: none;
    font-family: var(--font-common);
}
input:focus, input:hover{
    background-color: var(--nav-color-hover);
    transition: var(--input-transition);
    color: black
}

/*********************** VARS ************************/

.font-accesible{
    font-size: 14pt;
    transition: all 1s ease-in-out;
}
.resat{
    color: var(--java-color);
    text-decoration: none;
}

.resalt-blue{
    color: var(--python-color);
    text-decoration: none;
}

#resat{
    color: var(--java-color);
    transition: var(--mouse-is-over-normal)
}

#resat:hover{
    color: var(--java-color);
    transition: var(--mouse-is-hover-mormal);
    font-size: x-large;
}

#scrollTop {
    display:none;
	padding:20px;
	background: var(--header-color);
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}


@media screen and (min-width: 880px) {


    html{
        font-size: var(--size-commom-desktop);
    }
    header{
        justify-content: space-around;
        align-content: baseline;
        align-items: baseline;
        padding: 0;
    }

    /*************** Menu* *****************/
    .nav-menu{
        display: block; 
    }
    .nav-menu>ul{
        display: flex;
        justify-content: space-between;
    }
    .nav-menu>ul>li{
        display: block;
    }
    ul>li>a{
        padding: .5em;
    }
    ul>li>a:hover{
        background-color: var(--back-color);
    }
    #menu-mobile{
        display: none;
    }
    .trigger-menu{
        display: none;
    }
    /************** MAIN ***********************/
    main{
        width: 85%;
    }
    /************* Projects *********************/
    .projects>div{
        width:20em;
    }
    /************* Footer *****************/
    .footer-content{
        margin-top: 2em;
        width: 85%;
        flex-flow: row;
        justify-content: space-between;
        align-content: center;
    }
    /************ Form **************************/
    form{
        margin: none;
        border: none;
    }
    /************ Footer info *******************/
    .footr-info{
        margin-top: .4em;
    }
    
    /************ VARS **************************/
    .font-accesible{
        font-size: 16pt;
    }

}

