/*************************************** FONTS IMPORTS *************************************************/
/*WEB TITLE*/
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&display=swap');

/*SECTION TITLES*/
@font-face{
    font-family: Bariol-regular-section-titles;
    src: url('../resources/fonts/Bariol-Regular&Italic/Desktop/Bariol_Regular.otf');
}

/***************************************    VARS      ************************************************/
:root{
    --font-title : 'Averia Sans Libre', cursive;
    --fonts-section-titles : Bariol-regular-section-titles; /*section titles*/
    --font-comon :"Noto Sans Imperial Aramaic", serif; /*texts*/
}

/***************************************   COMMON   **************************************************/
html{
    font-family: var(--font-comon);
    font-size: 10pt;

}
/*needed to remove mrquenes and padding between all elements*/
html body{
    margin: 0;
    padding: 0;
    transition: 1s;
}
/*only header website*/
body>header{
    width: 100%;
    padding-top: 0.3em;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*header elements margin*/
body>header>div:first-child{
    margin-left: 1em;
    display: flex;
}
body>header>div:last-child{
    margin-right: 1em;
}


/*website tile*/
body>header>div>img{
    width: 50px;
    margin-right: 1em;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
}

main{
    width: 90%;
    margin: 0 auto;
}

/*title of the web*/
h1{
    font-family: var(--font-title);
    font-weight: bold;
}
/*Sections titles*/
h2{
    font-family: var(--fonts-section-titles);
}

/*classes style*/
.trigger-menu{
    color: white;
}


/*********************************** MEDIA QUERY'S MOBILE FIRST *******************************************/
/*small tablet*/
@media screen and (min-width: 480px){
    html{
        background-color: #094eed;
    }
}


/*tablet*/
@media screen and (min-width: 880px){
    html{
        background-color: #0e575e;
    }
}

/*small desktop*/
@media screen and (min-width: 1025px){
    html{
        background-color: #9b9595;
    }
}

/*normal desktop*/
@media screen and (min-width: 1250px){
    html{
        background-color: #0e573e;
    }
}




