:root{
    --header-bg: #ccf2f4;
    --titles-color: #5875f5;
    --main-bg: #a4ebf3;
    --nav-bg: #aaaaaa;
    --contenido-color: #4b4b4b; 
    --black: black;
    --white: white;
    --font: "Noto Sans Bassa Vah", sans-serif;

    /*TRANSITIONS EFFECTS*/
    /*menu*/
    --mouse-is-over-menu: linear 0.2s;
    --mouse-is-hover-menu:color  0.2s linear 0.2s;

    /*Normal Events*/

    --mouse-is-over-normal: linear 0.1s;
    --mouse-is-hover-mormal:color  0.1s linear 0.1s;
}

/********************************************************* INDEX ********************************************/

html{
    font-family: var(--font);
    background-color: var(--main-bg);
    color: black;
    font-size: large;
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
}

header *{
    font-weight: bolder;
}
header h1{
    letter-spacing: 1pt;
    font-style: italic;
    margin-right: 2em;
}



main{
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    height: 93%;
}


/************************************* index **************************************************/

/*Only index heder*/
.header-principal{
    background-color: var(--header-bg);
    color: var(--titles-color);
    padding-left: 1em;
    padding-right: 1em;
    justify-content: space-between;
    align-items: baseline;
    max-height: 100px;
    overflow: hidden;
    display: flex;
}




/**************************************** left nav ********************************************/
main>nav{
    background-color: var(--nav-bg);
    height: auto;
    width: 40vh;
    min-width: 300px;
    text-align: center;
    
}

main>nav>h2{
    color: var(--main-bg)
}

main>nav>ul{
    list-style: none;
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
}

main>nav>ul>li{
    display: block;
    text-align: center;   
  }


main>nav>ul>li>a{
    color: var(--header-bg);
    text-decoration: none;
    font-weight: bolder;    
    width: 100%;
    display: block;
    transition: var(--mouse-is-over-menu);
}
main>nav>ul>li>a:hover{
    background-color: var(--header-bg);
    color: var(--titles-color);
    transition: var(--mouse-is-hover-menu);

}


/************************** CONTENT ****************************/
/*todo transition*/
/************************* home ********************************/
main>section{
    transition: 1s ease-in;
    width: 100%;
}
#article{
    transition: 1s ease-in-out;
    /*padding-left: 1em;*/
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: var(--contenido-color);
}
#article header{
    margin-top: 2em;
    color: var(--titles-color)
}
#article h1{
    margin: 0;
}
#article section{
    margin-top: 2em;
}

#article>section>h2{
    color: var(--titles-color);
}
#article>section>h3{
    color: var(--titles-color);
}

.infolojoHOME{
    margin: 1.2em;
    width: 150px;
    border-radius: 25px;
    transition: var(--mouse-is-over-normal)
}
.infolojoHOME:hover{
    width: 200px;
    transition: .5s ease
}

/************************* form **************************/


.section-form{
    display: flex;
    flex-flow: column;
    margin: 0 auto;
}

.section-form form{
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: var(--main-bg);
    background-color: var(--nav-bg);
}

.section-form input{
    text-align: center;
    margin-top:.5em;
    margin-bottom: 1em;
    width: 50vh;
}

.error{
    font-size: small;
    color: red;
    display: inline;
}


/***************************** FIND ME *************************/
.find-me-flex{
    margin-top: 4em;
}

#icon{
    transition: var(--mouse-is-over-normal);
    text-decoration: none;
    color: var(--contenido-color);

}
#icon:hover{
    width: 150px;
    transition: .5s ease
}


/****************** Education and Work *********************/
#article ul {
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    list-style: none;

}
#article ul il{
    margin: 0;
    padding: 0;
}




@media (max-width: 830px){
    html{
        font-size: medium;
    }
    .header-principal{
        max-height: 150px;
        flex-flow: column;
        margin: 0;
        justify-content: flex-start;
        padding: 1em;
    }
    main{
        flex-flow: column;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }
    main>nav{
        width: 100%;
        padding-bottom: 1.5em;
    }

    /************************* HOME ***************************/
    #article h1{
        margin: 0;
        padding: 0;
    }


    /************************** FORM **************************/

    .section-form input{
        text-align: center;
        margin-top:.5em;
        margin-bottom: 1em;
        width: 30vh;
    }
}


/*Content*/
/*
main{
}
*/