/*MOBILE STYLE*/
/*variables*/
:root{
    /*BackGrounds*/
    --bgLight: white;
    --bgBlack: black;
    /*FontColors*/
    --font-color-light: black;
    --font-color-dark: whute;
    /*FontSize*/
    --font-size: 10pt;
}

html{
    display: block;
    color: var(--font-color-lightº);
}
body{
    background-color: var(--bgLight);
    font-family: sans-serif;
    font-size: var(--font-size);
    margin:0;
    text-align: center;
    min-width: 350px;
    align-content: center;


}
header{
    background-color: black;
    color: white;
    overflow: hidden;
    display: inline-flex;
    width: 100%;
}
header h1{
    padding-left: 1em;
}

/********************* BOTÓN DE SWITCH ************************/
label{
    margin-top: 1.6em;
    margin-left: 2em;

}

.checkbox{
    display:none
}
.switch
{
    width: 31px; /*original 62*/
    height: 16px; /*original 32*/
    background: #E5E5E5;
    z-index: 0;
    margin: 0;
    padding: 0;
    appearance: none;
    border: none;
    cursor: pointer;
    position: relative;
    border-radius:8px; //IE 11 /*original 16*/
    -moz-border-radius:8px; //Mozilla /*original 16*/
    -webkit-border-radius:8px; //Chrome and Safari /*original 16*/
}
.switch:before
{
    content: ' ';
    position: absolute;
    left: 1px;
    top: 1px;
    width: 31px; /*original 62*/
    height: 16px; /*original 32*/
    background: #FFFFFF;
    z-index: 1;
    border-radius:8px; //IE 11 /*original 16*/
    -moz-border-radius:8px; //Mozilla /*original 16*/
    -webkit-border-radius:8px; //Chrome and Safari /*original 16*/
}
.switch:after
{
    content: ' ';
    height: 14.5px; /*original 29*/
    width: 14.5px; /*original 29*/
    border-radius: 14px; /*original 28*/
    background: #FFFFFF;
    position: absolute;
    z-index: 2;
    top: 1px;
    left: 1px;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-box-shadow: 0 2px 5px #999999;
    box-shadow: 0 2px 5px #999999;
}
.switchOn , .switchOn:before
{
    background: #4cd964 !important;
}
.switchOn:after
{
    left: 17px !important; /*original 21*/
}

/********************************** FIN DEL BOTON WITCH ***********************/
/*MENU*/
.menu-button{
    width: 2em;
    height: 2em;
    margin-top: 1.2em;

}